/* atom material theme colors*/
$darkgray:  #282c34;
$gray: #5c6370;
$lightgray: #abb2bf;
$yellow: #e5c07b;
$orange: #d19a66;
$green: #98c379;
$azure: #56b6c2;
$blue: #61afef;
$purple: #c678dd;


/* general text styles */
.gray   { color: $gray }
.yellow { color: $yellow }
.orange { color: $orange }
.green  { color: $green }
.azure  { color: $azure }
.blue   { color: $blue }
.purple { color: $purple }

/*
* LAYOUT
*/
body {
    margin:0;
    font-family: 'Ubuntu Mono';
    background-color: $darkgray;
    color: $lightgray;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-top:30px;
    margin-left: 10%;
}
.identity{
    width: 220px;
    margin-right:30px;
    margin-bottom: 30px;
}
.content{
    flex: 1 1 250px;
    min-width: 200px;
}
.masonry-grid {
    column-count: 3;
    column-gap: 1rem;
    column-width: 250px;
    width: 100%;
}

.masonry-grid__item {
    break-inside: avoid;
    margin-bottom: 1rem;
    border-bottom: 2px #abb2bf dashed;
}
.masonry-grid__item h1{
    margin-top:0;
    margin-bottom:.1em;
}

/*
* CONTENT
*/

/* ascii art */
.picture{
    font-size:4px;
    line-height:4px;
}

/* identity socials */
.social{
    border-bottom: 2px dashed #abb2bf;
    padding-bottom:20px;
}

.social i{
    font-size:20px;
}
.social a{
    display:inline-block;
    border: 2px white hidden;
    padding: 5px;
    margin:0;
    margin-right:5px;
    border: 2px #282c34 solid;
    border-radius:3px;
    width:20px;
    height:20px;
    text-align: center;
    color: #abb2bf;
}
.social a:hover{
    border: 2px #abb2bf solid;
    background-color: #abb2bf;
    color: #282c34;
}

/* blog styles */
p{ line-height: 22px }
p.timestamp{ margin:0; }
h1 a{
    text-decoration:none;
    color: inherit;
}
h1 a:hover{ text-decoration:underline }
a.read_more {
    color: #98c379;
    text-decoration: none;
    border: 2px #98c379 solid;
    border-radius: 3px;
    padding: 4px 12px 5px 8px;
    margin-bottom:20px;
    display:inline-block;
}
a.read_more:hover {
    background-color: #98c379;
    color: white;
}

/*
* NAVIGATION
*/
.navigation{
    display: flex;
    width: 99%;
    height: 24px;
    border-bottom: 1px #abb2bf solid;
    padding: 6px 1% 8px 0;
}
.navigation i{
    color: #abb2bf;
    margin-left: 20px;
    margin-top: 5px;
}
.navigation ul{
    margin:0;
    padding:0;
    padding-left:20px;
}
.navigation ul li{
    display:block;
    margin-right: 20px;

}
.navigation ul li a{
    font-weight: 400;
    text-decoration: none;
    color: #abb2bf;
    display:block;
    border: 1px #282c34 solid;
    border-radius: 3px;
    padding: 3px 4px;
}
.navigation ul li a:hover{
    border: 1px #abb2bf solid;
    background-color: #abb2bf;
    color: #282c34;
}


.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu > li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #abb2bf;
    position: absolute;
    height: 3px;
    width: 25px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 3px;
}

.menu-button::before {
    content: '';
    margin-top: -7px;
}

.menu-button::after {
    content: '';
    margin-top: 7px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}
@media (max-width: 700px) {
    .navigation{
        justify-content: space-between;
        flex-direction: row;
    }
    .menu-button-container {
        display:flex;
    }
    .navigation  ul.menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        width: 100%;
        align-items: center;
        display:flex;
        flex-wrap: wrap;
        margin-top: 39px;
        padding-left:0;
        background-color: #282c34;
    }
    #menu-toggle ~ .menu{
        padding:0;
    }
    #menu-toggle:checked ~ .menu{
        padding-bottom:20px;
        padding-top:20px;
    }
    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        border: 0;
        padding:0;
        width: 40%;
        padding: 0 5%;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked ~ .menu li {
        height: 2.5em;
        padding: 0.5em 5%;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
    }
    .navigation ul.menu li a {
        width:90%;
        height:1.7em;
        border: 1px #abb2bf solid;
        text-align: center;
        padding-top:.8em;
    }
}
@media (max-width: 800px) {
    .masonry-grid { column-count: 1 }
}
@media (max-width: 400px) {
    #menu-toggle ~ .menu li { width:100% }
}
