@import url("pygment.css");

/* atom material theme colors*/
$darkgray:  #282c34;
$gray: #5c6370;
$lightgray: #abb2bf;
$yellow: #e5c07b;
$orange: #d19a66;
$green: #98c379;
$azure: #56b6c2;
$blue: #61afef;
$purple: #c678dd;


/* general text styles */
.gray   { color: $gray }
.yellow { color: $yellow }
.orange { color: $orange }
.green  { color: $green }
.azure  { color: $azure }
.blue   { color: $blue }
.purple { color: $purple }

/*
* LAYOUT
*/
body {
    margin:0;
    font-family: 'Ubuntu Mono';
    background-color: $darkgray;
    color: $lightgray;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-top:30px;
    margin-left: 10%;
}
.identity{
    width: 220px;
    margin-right:30px;
    margin-bottom: 30px;
}
.content{
    flex: 1 1 250px;
    min-width: 200px;
}
.masonry-grid {
    column-count: 3;
    column-gap: 1rem;
    column-width: 250px;
    width: 100%;
}

.masonry-grid__item {
    break-inside: avoid;
    margin-bottom: 1rem;
    border-bottom: 2px #abb2bf dashed;
}
.masonry-grid__item h1{
    margin-top:0;
    margin-bottom:.1em;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $darkergray;
    text-align: right;
    padding: 0.5em;
}
.footer-inner {
    width:80%;
    margin-left: 10%;
}

/*
* CONTENT
*/

/* ascii art */
.picture{
    font-size:4px;
    line-height:4px;
}

/* identity socials */
.social{
    border-bottom: 2px dashed #abb2bf;
    padding-bottom:20px;
}

.social i{
    font-size:20px;
}
.social a{
    display:inline-block;
    border: 2px white hidden;
    padding: 5px;
    margin:0;
    margin-right:5px;
    border: 2px #282c34 solid;
    border-radius:3px;
    width:20px;
    height:20px;
    text-align: center;
    color: #abb2bf;
}
.social a:hover{
    border: 2px #abb2bf solid;
    background-color: #abb2bf;
    color: #282c34;
}

/* blog styles */
p{ line-height: 22px }
p.timestamp{ margin:0; }
h1 a{
    text-decoration:none;
    color: inherit;
}
h1 a:hover{ text-decoration:underline }
a.read_more {
    color: #98c379;
    text-decoration: none;
    border: 2px #98c379 solid;
    border-radius: 3px;
    padding: 4px 12px 5px 8px;
    margin-bottom:20px;
    display:inline-block;
}
a.read_more:hover {
    background-color: #98c379;
    color: white;
}

/*
* NAVIGATION
*/
.navigation{
    display: flex;
    width: 99%;
    height: 24px;
    border-bottom: 1px #abb2bf solid;
    padding: 6px 1% 8px 0;
}
.navigation i{
    color: #abb2bf;
    margin-left: 20px;
    margin-top: 5px;
}
.navigation ul{
    margin:0;
    padding:0;
    padding-left:20px;
}
.navigation ul li{
    display:block;
    margin-right: 20px;

}
.navigation ul li a{
    font-weight: 400;
    text-decoration: none;
    color: #abb2bf;
    display:block;
    border: 1px #282c34 solid;
    border-radius: 3px;
    padding: 3px 4px;
}
.navigation ul li a:hover{
    border: 1px #abb2bf solid;
    background-color: #abb2bf;
    color: #282c34;
}


.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu > li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #abb2bf;
    position: absolute;
    height: 3px;
    width: 25px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 3px;
}

.menu-button::before {
    content: '';
    margin-top: -7px;
}

.menu-button::after {
    content: '';
    margin-top: 7px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

/* code blocks */
.content {

    .highlight {

            background-color: $darkgray;
            border-color: $lightgray;
            border-style: solid;
            border-width: 1px 0;
            padding: 0;
            font-size: 1.2em;
            line-height: 1.5em;
            // border-radius: 1.5em;


    }

    .highlight pre{background:#282c34}
    .highlight .hll{background:#282c34}
    .highlight .c{color:#5c6370;font-style:italic}
    .highlight .err{color:#960050;background-color:#1e0010}
    .highlight .k{color:#c678dd}
    .highlight .l{color:#98c379}
    .highlight .n{color:#abb2bf}
    .highlight .o{color:#abb2bf}
    .highlight .p{color:#abb2bf}
    .highlight .cm{color:#5c6370;font-style:italic}
    .highlight .cp{color:#5c6370;font-style:italic}
    .highlight .c1{color:#5c6370;font-style:italic}
    .highlight .cs{color:#5c6370;font-style:italic}
    .highlight .ge{font-style:italic}
    .highlight .gs{font-weight:700}
    .highlight .kc{color:#c678dd}
    .highlight .kd{color:#c678dd}
    .highlight .kn{color:#c678dd}
    .highlight .kp{color:#c678dd}
    .highlight .kr{color:#c678dd}
    .highlight .kt{color:#c678dd}
    .highlight .ld{color:#98c379}
    .highlight .m{color:#d19a66}
    .highlight .s{color:#98c379}
    .highlight .na{color:#d19a66}
    .highlight .nb{color:#e5c07b}
    .highlight .nc{color:#e5c07b}
    .highlight .no{color:#e5c07b}
    .highlight .nd{color:#e5c07b}
    .highlight .ni{color:#e5c07b}
    .highlight .ne{color:#e5c07b}
    .highlight .nf{color:#abb2bf}
    .highlight .nl{color:#e5c07b}
    .highlight .nn{color:#abb2bf}
    .highlight .nx{color:#abb2bf}
    .highlight .py{color:#e5c07b}
    .highlight .nt{color:#e06c75}
    .highlight .nv{color:#e5c07b}
    .highlight .ow{font-weight:700}
    .highlight .w{color:#f8f8f2}
    .highlight .mf{color:#d19a66}
    .highlight .mh{color:#d19a66}
    .highlight .mi{color:#d19a66}
    .highlight .mo{color:#d19a66}
    .highlight .sb{color:#98c379}
    .highlight .sc{color:#98c379}
    .highlight .sd{color:#98c379}
    .highlight .s2{color:#98c379}
    .highlight .se{color:#98c379}
    .highlight .sh{color:#98c379}
    .highlight .si{color:#98c379}
    .highlight .sx{color:#98c379}
    .highlight .sr{color:#56b6c2}
    .highlight .s1{color:#98c379}
    .highlight .ss{color:#56b6c2}
    .highlight .bp{color:#e5c07b}
    .highlight .vc{color:#e5c07b}
    .highlight .vg{color:#e5c07b}
    .highlight .vi{color:#e06c75}
    .highlight .il{color:#d19a66}
    .highlight .gu{color:#75715e}
    .highlight .gd{color:#f92672}
    .highlight .gi{color:#a6e22e}
    .highlight .normal{color:$gray}

}

/* page styles */
.content.page{
    header{
        width: 100%;
    }
    a{
        color: $green;
        text-decoration: none;
    }
    a:hover{
        text-decoration:underline;
    }
    h1,h2,h3,h4,h5,h6{
        a{text-decoration:none}
    }

    h1 a{color: $purple}
    h2 a{color: $orange}

    ul.auto-toc{

        padding-left:30px;
        padding-bottom: 30px;
        padding-top: 30px;
        border-bottom: 1px $green solid;
        border-top: 1px $green solid;

        li{
            list-style: none;
            line-height:1.5em;
        }
    }

    hr{
        color: $gray;
        border-style: solid;
        background-color: $gray;
    }
}


@media (max-width: 700px) {
    .navigation{
        justify-content: space-between;
        flex-direction: row;
    }
    .menu-button-container {
        display:flex;
    }
    .navigation  ul.menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        width: 100%;
        align-items: center;
        display:flex;
        flex-wrap: wrap;
        margin-top: 39px;
        padding-left:0;
        background-color: #282c34;
    }
    #menu-toggle ~ .menu{
        padding:0;
    }
    #menu-toggle:checked ~ .menu{
        padding-bottom:20px;
        padding-top:20px;
    }
    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        border: 0;
        padding:0;
        width: 40%;
        padding: 0 5%;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked ~ .menu li {
        height: 2.5em;
        padding: 0.5em 5%;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
    }
    .navigation ul.menu li a {
        width:90%;
        height:1.7em;
        border: 1px #abb2bf solid;
        text-align: center;
        padding-top:.8em;
    }
}

@media (max-width: 800px) {
    .masonry-grid { column-count: 1 }
}
@media (max-width: 400px) {
    #menu-toggle ~ .menu li { width:100% }
}
