@import url("pygment.css");

/* atom material theme colors*/
$darkergray: #21252b;
$darkgray:  #282c34;
$gray: #5c6370;
$lightgray: #abb2bf;
$yellow: #e5c07b;
$orange: #d19a66;
$green: #98c379;
$azure: #56b6c2;
$blue: #61afef;
$purple: #c678dd;
$white: #ffffff;

$borderradius: 3px;
$borderwidth: 2px;

$footerheight: 1em;

/* general text styles */
.gray   { color: $gray }
.yellow { color: $yellow }
.orange { color: $orange }
.green  { color: $green }
.azure  { color: $azure }
.blue   { color: $blue }
.purple { color: $purple }

h1 {
    color: $azure;
    font-size: 3em;

    span {
        color: $darkgray;
        background-color: $azure;
        border-radius: $borderradius;
        padding:0 12px;
    }

}
h2 {
    color: $green;
    font-size: 2em;
}
h3 {
    color: $purple;
    font-size: 1.6em;
}

.align-left { text-align: left;}
.align-right{ text-align: right;}

/*
* LAYOUT
*/
body {
    font-family: 'Ubuntu Mono';
    background-color: $darkgray;
    color: $lightgray;
    height: 100%;
    width: 100%;
    margin:0;
    overflow: hidden;
}

main {
    overflow-y: scroll;
    height: calc(100vh - 80px);

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
main::-webkit-scrollbar {
    display: none;
}

#map {
    position: fixed;
    top: 40px;
    right: 0;
    width: 10%;
    height: 100%;
    z-index: 100;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-top:0;
    margin-left: 10%;
}

.identity{
    width: 220px;
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 30px;
    height: 100%;
    overflow: hidden;
    -webkit-text-size-adjust: none;

    img {
        width: 220px;
        height: 220px;
        border-radius: 5px;
        object-fit: cover;
    }

    h1 {
        font-size: 2em;
        color: $azure;
    }
}

.content{
    flex: 1 1 250px;
    min-width: 200px;
    margin-bottom: calc(#{$footerheight} * 2);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: $footerheight;
    background-color: $darkergray;
    text-align: right;
    padding: calc(#{$footerheight} / 2);

    .inner {
        width:80%;
        margin-left: 10%;
        display: flex;
        .column{flex:1;}
    }

    a {
        color: $lightgray;
        text-decoration: none;
        &:hover {
            color: $green;
        }
    }
}

/*
* HOME-INDEX-CONTENT
*/
.content {

    p{ line-height: 22px }
    time{
        margin:0;
        display: block;
    }
    h1 a{
        text-decoration:none;
        color: inherit;
    }
    h1 a:hover{ text-decoration:underline }

    a.read_more {
        color: #98c379;
        text-decoration: none;
        border: $borderwidth #98c379 solid;
        border-radius: $borderradius;
        padding: 4px 12px 5px 8px;
        margin-bottom:20px;
        display:inline-block;
        transition: all .15s ease-in-out;

        &:hover {
            background-color: #98c379;
            color: white;
            text-decoration: none;
        }

    }

}
/*
* MULTICOLUMN-CONTENT
*/
.content {

    max-width: 800px;

    .generated-page {
        display: none; // toggled by js
        margin-bottom:55px;
        position: relative;
    }

    .column article {
        padding:50px 10px 10px 10px;
    }
    .page-divider {
        width:100%;
        display: flex;
        color: $blue;
        position: absolute;
        bottom: 0;
        span {
            flex: 1;
            border-width: 2px 0 0 0;
            border-style: dashed;
            border-color: $blue;
            margin-top:0.5em;
        }

        span.text {
            text-align: center;
            border:0;
            margin:0;
        }
        a { color: $blue; }
    }
    .page-divider.down{ // aka: next
        margin-top: -1.5 em;
    }
    .page-divider.up{
        margin-bottom: 1em;
        top:20px;
        bottom: auto;
    }

    .masonry-grid {
        margin-top:20px;
        column-count: 3;
        column-gap: 1rem;
        column-width: 250px;
        width: 100%;

        .masonry-grid__item {
            break-inside: avoid;
            margin-bottom: 1rem;
            border-bottom: 2px #abb2bf dashed;

            img {
                width:100%;
                height: 220px;
                border-radius: 5px;
                object-fit: cover;
                margin-bottom: 20px;
                transition: all 0.5s ease-in-out;
            }

            img.grayscale {filter: grayscale(100%)}
            img.grayscale-50 {filter: grayscale(50%)}
            img.grayscale-75 {filter: grayscale(75%)}
            img.opacity{filter: opacity(70%)}

            &:hover img {
                transition: all 0.5s ease-in-out;
                filter: none;
            }

            h1 {
                margin-top:0;
                margin-bottom:.1em;
                font-size: 2em;
            }
        }

    }


}

/* ascii art */
$size: calc(220px/60);
.picture{
    font-size: $size;
    letter-spacing: -.25px;
    line-height: 2px;
    margin:0;

}

/* identity socials */
.social{
    border-bottom: 2px dashed #abb2bf;
    padding-bottom:20px;

    i{font-size:20px;}

    a{
        display:inline-block;
        border: 2px white hidden;
        padding: 5px;
        margin:0;
        margin-right:5px;
        border: $borderwidth #282c34 solid;
        border-radius:$borderradius;
        width:20px;
        height:20px;
        text-align: center;
        color: #abb2bf;
        transition: all .15s ease-in-out;

        &:hover{
            border: 2px #abb2bf solid;
            background-color: #abb2bf;
            color: #282c34;
        }

    }


}

/* share buttons */
#post-share-links{

    border: 0;
    text-align: center;


    margin-top: 50px;

    .share-label{
        color: $gray;
        margin-right: 20px;
        font-weight: lighter;
    }

    a {
        color: $azure;
        border: 0;
        color: $azure;

        &:hover{
            background-color: $azure;
            color: $darkgray;
        }
    }
}

/*
* MAIN NAVIGATION
*/
.navigation{
    display: flex;
    width: 98%;
    height: 24px;
    border-bottom: 1px $lightgray solid;
    padding: 6px 1% 8px 1%;

    i {
        color: $yellow;
        margin-left: 10px;
        margin-top: 5px;
    }

    .site-name {
        padding-top: 4px;
        margin-left: 10px;
        color: $yellow;
    }

    ul {
        margin:0;
        padding:0 0 0 20px;

        display: flex;
        flex-direction: row;
        list-style-type: none;

        > li {
            display:block;
            margin-right: 20px;
            overflow: hidden;

            a{
                font-weight: 400;
                text-decoration: none;
                color: $lightgray;
                display:block;
                border-radius: $borderradius;
                padding: 4px 4px;
                transition: all .15s ease-in-out;

                &:hover{
                    background-color: $lightgray;
                    color: $darkgray;
                }
            }
        }
    }

    ul.feeds {

        margin-left: auto;
        font-size: 0.8em;
        padding-top: 3px;

        > li {
            padding: 0;
            margin-right: 5px;

            a {
                padding:0px;
                transition: all .15s ease-in-out;
                i {
                    margin: 4px;
                    color: $lightgray;
                }

                &:hover i {
                    color: $darkgray;
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    // hamburger icon
    .menu-button-container {
        display: none;
        width: 25px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5px 5px 0 0;
        padding: 5px;
        width:50px;
        height:50px;
        border-radius: 50px;
        background-color: $blue;

        .menu-button {

            display: block;
            background-color: $darkergray;
            position: absolute;
            height: 3px;
            width: 25px;
            transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
            border-radius: $borderradius;

            &::before, &::after {
                display: block;
                background-color: $darkergray;
                position: absolute;
                height: 3px;
                width: 25px;
                transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
                border-radius: $borderradius;
                content: '';
            }

            &::before { margin-top: -7px}
            &::after  { margin-top: 7px}

        }
    }

    // checkbox input toggle + hamburger animation
    #menu-toggle {
        display: none;

        // hamburger animtation
        &:checked {

            + .menu-button-container .menu-button {
                background: $azure;
                &::before {
                    margin-top: 0px;
                    transform: rotate(405deg);
                }
                &::after {
                    margin-top: 0px;
                    transform: rotate(-405deg);
                }
            }
        }
    }
}

/*
* Pagination
*/
.content{

    .pagination {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 20px;

        a {
            color: $lightgray;
            padding: 2px 8px;
            border-radius: 3px;
            transition: all .15s ease-in-out;

            &.previous {
                text-align: left;
                // padding-left: 8px;
            }
            &.next {
                text-align: right;
                // padding-right: 8px;
            }
            &:hover{
                text-decoration: none;
                color: $darkgray;
                background-color: $lightgray;
            }
        }
    }
}


/* cutom scrollbar (for code snippets) */
/* https://dev.to/xtrp/how-to-create-a-beautiful-custom-scrollbar-for-your-site-in-plain-css-1mjg */
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: $gray;
}
::-webkit-scrollbar-thumb {
    background-color: $gray;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    background-color: $gray;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
    background-color: $lightgray;
  }

/* code blocks */
.content {

    .highlight {

            overflow-y: hidden;
            overflow-x: auto;


            background-color: $darkgray;
            border-color: $lightgray;
            border-style: solid;
            border-width: 1px 0;
            padding: 0;
            font-size: 1.2em;
            line-height: 1.5em;

            pre{background:#282c34}

            .hll{background:#282c34}
            .c{color:#5c6370;font-style:italic}
            .err{color:#960050;background-color:#1e0010}
            .k{color:#c678dd}
            .l{color:#98c379}
            .n{color:#abb2bf}
            .o{color:#abb2bf}
            .p{color:#abb2bf}
            .cm{color:#5c6370;font-style:italic}
            .cp{color:#5c6370;font-style:italic}
            .c1{color:#5c6370;font-style:italic}
            .cs{color:#5c6370;font-style:italic}
            .ge{font-style:italic}
            .gs{font-weight:700}
            .kc{color:#c678dd}
            .kd{color:#c678dd}
            .kn{color:#c678dd}
            .kp{color:#c678dd}
            .kr{color:#c678dd}
            .kt{color:#c678dd}
            .ld{color:#98c379}
            .m{color:#d19a66}
            .s{color:#98c379}
            .na{color:#d19a66}
            .nb{color:#e5c07b}
            .nc{color:#e5c07b}
            .no{color:#e5c07b}
            .nd{color:#e5c07b}
            .ni{color:#e5c07b}
            .ne{color:#e5c07b}
            .nf{color:#abb2bf}
            .nl{color:#e5c07b}
            .nn{color:#abb2bf}
            .nx{color:#abb2bf}
            .py{color:#e5c07b}
            .nt{color:#e06c75}
            .nv{color:#e5c07b}
            .ow{font-weight:700}
            .w{color:#f8f8f2}
            .mf{color:#d19a66}
            .mh{color:#d19a66}
            .mi{color:#d19a66}
            .mo{color:#d19a66}
            .sb{color:#98c379}
            .sc{color:#98c379}
            .sd{color:#98c379}
            .s2{color:#98c379}
            .se{color:#98c379}
            .sh{color:#98c379}
            .si{color:#98c379}
            .sx{color:#98c379}
            .sr{color:#56b6c2}
            .s1{color:#98c379}
            .ss{color:#56b6c2}
            .bp{color:#e5c07b}
            .vc{color:#e5c07b}
            .vg{color:#e5c07b}
            .vi{color:#e06c75}
            .il{color:#d19a66}
            .gu{color:#75715e}
            .gd{color:#f92672}
            .gi{color:#a6e22e}
            .normal{color:$gray}

    }
}

/* page styles */
.content{
    header{
        width: 100%;
    }
    a{
        color: $green;
        text-decoration: none;
    }
    a:hover{
        text-decoration:underline;
    }
    h1,h2,h3,h4,h5,h6{
        a{text-decoration:none}
    }

    h1 a{color: $purple}

    a{
        &.gray   { color: $gray }
        &.yellow { color: $yellow }
        &.orange { color: $orange }
        &.green  { color: $green }
        &.azure  { color: $azure }
        &.blue   { color: $blue }
        &.purple { color: $purple }
    }

    ul.auto-toc{

        padding-left:30px;
        padding-bottom: 30px;
        padding-top: 30px;
        border-bottom: 1px $green solid;
        border-top: 1px $green solid;

        li{
            list-style: none;
            line-height:1.5em;
        }
    }

    .call-out{
        padding: 20px;
        margin: 20px 0;
        border-radius: 5px;
        background-color: $darkergray;
    }

    hr{
        color: $gray;
        border-style: solid;
        background-color: $gray;
    }

    .align-center {
        margin-left: auto;
        margin-right: auto;
        max-width: fit-content;
    }

    .figure{

        overflow-x: scroll;
        margin-top:15px;
        margin-bottom:15px;

        .caption{
            text-align: center;
            font-size: 0.8em;
            color: $gray;
        }
    }

    table, th, td, tr {
        border: none;
    }

    .scrollx{
        overflow-x: scroll;
    }

    table {
        margin-top: 15px;
        margin-bottom: 15px;


        .figure .caption{
            text-align: left;
        }
    }

    /* word cloud */
    ul.cloud {
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        line-height: 2.5rem;

        a {
            font-size: 1rem;
            display: block;
            padding: 0.125rem 0.25rem;
            text-decoration: none;
            position: relative;
            border-radius: 6px;
            padding: 0 12px;
            cursor: pointer;

            &:hover {
                background-color: $darkergray;
            }

            &[data-weight="1"] {
                font-size: 1rem;
                color: $azure;
                &:hover { color: $lightgray; }
            }
            &[data-weight="2"] {
                font-size: 1.4rem;
                color: $blue;
                &:hover { color: $lightgray; }
            }
            &[data-weight="3"] {
                font-size: 1.8rem;
                color: $green;
                &:hover { color: $lightgray; }
            }
            &[data-weight="4"] {
                font-size: 2.2rem;
                color: $orange;
                &:hover { color: $lightgray; }
            }
            &[data-weight="5"] {
                font-size: 2.6rem;
                color: $purple;
                &:hover { color: $lightgray; }
            }
            &[data-weight="6"] {
                font-size: 3rem;
                color: $azure;
                &:hover { color: $lightgray; }
            }
            &[data-weight="7"] {
                font-size: 3.4rem;
                color: $blue;
                &:hover { color: $lightgray; }
            }
            &[data-weight="8"] {
                font-size: 3.8rem;
                color: $green;
                &:hover { color: $lightgray; }
            }
            &[data-weight="9"] {
                font-size: 4.2rem;
                color: $orange;
                &:hover { color: $lightgray; }
            }
        }
    }

    .toggle {

        .header {
            display: block;
            clear: both;
            color: $green;
            border: $borderwidth solid $green;
            border-radius: $borderradius;
            padding: 4px 12px 5px 8px;
            text-align: center;
            margin-bottom: 5px;
            cursor: pointer;
            user-select: none;
        }


        .header:after {
            content: " ▸";
        }

        .header.open:after {
            content: " ▾";
        }

    }

    .labels{
        margin-top:1em;
        a{
            color: $darkergray;
            background-color: $gray;
            border-radius: 3px;
            padding: 4px 8px;
            margin: 0px 2px 4px 0px;
            font-size: 0.8em;
            display: inline-block;

            &:hover{
                background-color: $green;
                color: $white;
                text-decoration: none;
            }

            &.category{

                &.gray   { background-color: $gray; &:hover{ color: $gray}}
                &.yellow { background-color: $yellow; &:hover{ color: $yellow }}
                &.orange { background-color: $orange; &:hover{ color: $orange }}
                &.green  { background-color: $green; &:hover{ color: $green }}
                &.azure  { background-color: $azure; &:hover{ color: $azure }}
                &.blue   { background-color: $blue; &:hover{ color: $blue }}
                &.purple { background-color: $purple; &:hover{ color: $purple }}

                &:hover{
                    background-color: $darkgray;
                    color: $blue;
                    box-shadow: 0 0 2px inset;
                }
            }
        }
    }

    .cv-item {
        ol {

            padding-left:0;

            li {
                // organization header
                p{
                    font-weight: bold;
                    font-size: 1.2em;

                    a{
                        color: $azure;
                    }
                }

                list-style: none;

                blockquote {
                    margin:0;
                }
            }
        }
    }

    .cv-table{

        .field-name {
            color: $gray;
            font-weight: normal;
            text-align: left;
            padding-right: 20px;
        }
        .field-body {color: $lightgray;}
    }

    .feeds {
        // flex-direction: row;
        margin-top:-1.8em;
        gap: 0;
        div {
            display: flex;
            padding: 5px 0;
            border-radius: $borderradius;
        }
        a {
            // padding: 5px;
            background-color: $darkergray;
            text-align: center;
            border-radius: $borderradius 0 0 $borderradius;
            display: inline-block;
            padding:5px 8px;
            transition: all .15s ease-in-out;
            i {
                font-size:0.9em;
            }
            &:hover{
                color: $darkgray;
                text-decoration: none;
                background-color: $green;
            }
            &:last-child{
                border-radius: 0 $borderradius $borderradius 0;
            }
        }
    }

}


@media (max-width: 700px) {
    .navigation{
        justify-content: space-between;
        flex-direction: row;

        // center the sitename
        i {
            width: 60px;
        }
        .site-name {
            margin-left:0;
        }
    }
    .navigation .menu-button-container {
        display:flex;
        z-index: 102; // in front of map
    }
    .navigation  ul.menu {
        position: absolute;
        top: 0;
        margin-top: 0px;
        left: 0;
        width: 100%;
        padding-top: 39px;
        padding-left:0;
        background-color: $blue;
        z-index: 101; // in front of map but behind menu button
    }
    #menu-toggle ~ .menu{
        padding:0;
        padding-top:100px;
        height:0;
        opacity: 0;
        display: block;
        transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu{
        padding-bottom:20px;
        padding-top:120px;
        height: calc(100vh - 70px);
        opacity: 1;
        transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle ~ .menu li {
        width: 100vw;
        padding: 0;
        display: none;
    }
    #menu-toggle:checked ~ .menu li {
        display:block;
    }
    .menu > li {
        justify-content: center;
        margin: 0;
        padding: 0;
        width: calc(100% - 10%);
    }
    .navigation ul.menu li a {
        border: 0;
        height:auto;
        text-align: center;
        padding-top:.8em;
        color: $darkergray;
        font-size: 1.6em;

        &:hover{
            background-color: initial;
            color: $white;
            text-decoration: none;
        }
    }

    .navigation ul.feeds {
        display: none;
    }
}

@media (max-width: 800px) {
    .masonry-grid { column-count: 1 }
    .identity{
        width:100%;
        margin-right: 0;
        text-align: center;
        .picture{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

    }


}
@media (max-width: 400px) {
    #menu-toggle ~ .menu li { width:100% }
    .wrapper{
        margin:2%;
        margin-top:0;
        width:96%;
    }
    #map{
        visibility: hidden;
    }

    .mobile-hidden{
        display:none;
    }

}
