{% extends 'base.html' %}
{% block body_class %}home{% endblock%}

{% block content %}
    <div class="masonry-grid">
        {% for article in articles %}
        <article class="masonry-grid__item">
            <h1 class="{{ loop.cycle('purple', 'blue', 'green', 'orange') }}">
                <a href="{{ article.url }}">{{ article.title }}</a>
            </h1>
            <p class="timestamp gray">{{ article.date|strftime('%d %B %Y') }}</p>
            {{ article.summary }}
            <a role="button" class="read_more" href="{{ article.url }}">&#10095; Read more</a>
        </article>
        {% endfor %}
    </div>
{% endblock %}