{% extends 'base.html' %}
{% block content %}

<article class="identity">
    <pre class="picture gray">
{{ ASCII_PICTURE }}
    </pre>
    <h1 class="orange">{{ AUTHOR }}</h1>
    <p>{{ HEADLINE }}</p>

    <nav class="social">
        {% for platform, link in SOCIALS.items() if link %}
        <a rel="external" href="{{link}}">
            <i class="fa-brands fa-{{platform}}"></i>
        </a>
        {% endfor %}
    </nav>
</article>

<div class="content">
    <div class="masonry-grid">
        {% for article in articles %}
        <article class="masonry-grid__item">
            <h1 class="{{ loop.cycle('purple', 'blue', 'green', 'orange') }}">
                <a href="{{ article.url }}">{{ article.title }}</a>
            </h1>
            <p class="timestamp gray">{{ article.date|strftime('%d %B %Y') }}</p>
            <p>{{ article.summary }}</p>
            <a role="button" class="read_more" href="{{ article.url }}">&#10095; Read more</a>
        </article>
        {% endfor %}
    </div>
</div>
{% endblock %}