{% extends "base.html" %}

{% block pre_content %}
    <div id="template" class="generated-page">
        <div class="dynamic-content"></div>
        <div class="page-divider">
            <span class="line"></span>
            <span class="text">
                <i class="fa-sharp fa-solid fa-circle-down"></i>
                <a href="#anchor1">Continue reading</a>
                <i class="fa-sharp fa-solid fa-circle-down"></i>
            </span>
            <span class="line"></span>
        </div>
    </div>
    <div id="hidden-wrapper">
{% endblock %}
{% block post_content %}
    </div>
{% endblock %}